 /* Vista mobile */
@media only screen and (min-width:0px) and (max-width:767px) {
    #container-coverpage {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #container-coverpage img {
        width: 250px;
        height: 250px;
        margin-bottom: 30px;
    }
    
    /* #container-coverpage .title{
        padding-left: 70px;
    } */
    
    #container-coverpage p {
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        line-height: 58px;
        letter-spacing: 0.065em;
        color: #4D4D4D;
    }
    
    #container-coverpage h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 60px;
        letter-spacing: 0.28em;
        color: #E72176
    }
}

/* Vista tablet */
@media only screen and (min-width:768px) and (max-width:1239px) {
    #container-coverpage {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Background */
    .bg-cover {
        background: url('/public/assets/backgrounds/group_3.png') left bottom no-repeat;
    }
    
    #container-coverpage img {
        width: 280px;
        height: 280px;
    }
    
    #container-coverpage .title{
        padding-left: 50px;
    }
    
    #container-coverpage p {
        font-style: normal;
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 58px;
        letter-spacing: 0.065em;
        color: #4D4D4D;
    }
    
    #container-coverpage h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 86px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.28em;
        color: #E72176
    }
}

/* Vista desktop */
@media only screen and (min-width:1240px) {
    #container-coverpage {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Background */
    .bg-cover {
        background: url('/public/assets/backgrounds/group_3.png') left bottom no-repeat, url('/public/assets/backgrounds/group_2.png') right top no-repeat;
    }
    
    #container-coverpage img {
        width: 330px;
        height: 330px;
    }
    
    #container-coverpage .title{
        padding-left: 50px;
    }
    
    #container-coverpage p {
        font-style: normal;
        font-weight: 300;
        font-size: 3rem;
        line-height: 58px;
        letter-spacing: 0.065em;
        color: #4D4D4D;
    }
    
    #container-coverpage h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 4rem;
        line-height: 86px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.28em;
        color: #E72176
    }
}