#container-coverpage {
    height: 80vh;
}

#container-coverpage p {
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 0.065em;
    color: #4D4D4D;
}

#container-coverpage h1 {
    font-size: 4.5rem;
    line-height: 86px;
    letter-spacing: 0.28em;

    color: #E72176
}