#container-pack {
    height: 80vh;
}

#container-pack h2 {
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 0.065em;
    color: #54C8E8;
}

#container-pack .package {
    width: 237px;
    height: 416px;
    border: 2px solid #D48CC7;
    border-radius: 20px;
}