#container-footer {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foo-contact {
    margin-bottom: 80px;
}
.foo-contact h4 {

    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #4D4D4D;
    margin-bottom: 30px;
}
.foo-contact p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.11em;
    text-decoration-line: underline;
    color: #4D4D4D;
    margin-bottom: 30px;
}
.foo-link {
    text-decoration: none;
    margin: 10px;
}

.foo-line {
    border-top: 1px solid #4D4D4D;
    width: 100px;
}

.foo--copy {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: 0.11em;
    margin-top: 5px;
    color: #4D4D4D;
}

.bg-circle {
    position: absolute;
    width: 236px;
    height: 236px;
    left: 20px;
}

.bg-group-1 {
    display: block;
    position: absolute;
    width: 282px;
    height: 337px;
    left: 1250px;
}